
.header {
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  background-color: #0fa36b;
}

.header > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.header > nav a {
  cursor: pointer;
  padding: 1rem;
  color: white;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
}

.header > nav img {
  height: 3rem;
}

.header > nav a:hover {
  background-color: #37d699;
}

.header > nav a:first-child:hover {
  background-color: #0fa36b;
}

.header > nav a:first-child {
  flex: 1
}

@media (max-width: 750px) {
  .header > nav {
    flex-direction: column;
  }

  .header > nav a {
    width: 100%;
    text-align: center;
  }
}