.solutions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
}

.solution-link {
  color: black;
  text-decoration: underline;
  margin-bottom: 2rem;
  cursor: pointer;
}